@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 0 90% 60%;
    --primary-foreground: 0 100% 70%;
  }
}

.rdrCalendarWrapper {
  width: 100% !important;
  font-size: 16px !important;
}

.custom-date-range .rdrMonths {
  width: 100% !important;
  font-size: 20px !important;
}

@media (max-width: 640px) {

  .rdrCalendarWrapper {
    width: 100% !important;
    font-size: 12px !important;
  }
}

.custom-gradient {
  background: linear-gradient(135deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
}